<!-- panel body -->
<div id="accordion_{{participantLibraryTypeKey}}" class="panel-collapse collapse in">
    <div class="panel-body">
        
        <div class="list-group" *ngIf="participantLibraryItems && participantLibraryItems.length">
            <div *ngFor="let pli of participantLibraryItems" href="#" class="list-group-item clearfix">
                <span><img *ngIf="showFlags" src="/assets/images/flags/country/16/{{ pli.Iso2Code }}.png" /></span>
                <a [routerLink]="['/participantLibrary', pli.NexusKey]">{{pli.DisplayName}}</a>
                <span class="pull-right">
                    <a class="btn btn-xs btn-info">{{pli.DisplayCode}}</a>
                    <button class="btn btn-xs btn-warning" (click)="viewParticipantLibraryItemDetails(pli.NexusKey)">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                </span>
            </div>
        </div>
</div>


