<div [@flyInOut]="'in'" class="container">

    <h2>Participant Library</h2>

    <!-- Trigger the modal with a button -->
    <div class="panel">
        <button type="button" class="btn btn-primary btn-sm">Add New...</button>
    </div>

    <div class="panel-group" id="accordion">

        <div *ngFor="let plit of participantLibraryItemTypes" class="panel panel-primary">

            <div class="panel-heading">
                <!-- panel-heading -->
                <h4 class="panel-title">
                    <!-- title 1 -->
                    <a data-toggle="collapse" data-parent="#accordion" href="#accordion_{{plit.NexusKey}}">
                        {{plit.DisplayName}}
                    </a>
                </h4>
            </div>

            <participantLibraryItemsByType [typeKey]="plit.NexusKey" [showFlags]="plit.Name=='COUNTRY'" (onEditPliClicked)="onEditPliClicked($event)"></participantLibraryItemsByType>

        </div>
    </div>

</div>

<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" *ngIf="selectedParticipantLibraryItemLoaded">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="hideChildModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4>{{participantLibraryItemDetails.DisplayName}} details</h4>
            </div>
            <div class="modal-body">
                <form ngNoForm method="post">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <label class="control-label"><i class="fa fa-user" aria-hidden="true"></i>Name</label>
                                <input type="text" class="form-control" [(ngModel)]="participantLibraryItemDetails.Name" disabled />
                            </div>

                            <div class="col-md-4">
                                <label class="control-label"><i class="fa fa-text-width" aria-hidden="true"></i>Title</label>
                                <input type="text" class="form-control" [(ngModel)]="participantLibraryItemDetails.DisplayCode" disabled />
                            </div>

                            <div class="col-md-4">
                                <label class="control-label"><i class="fa fa-paragraph" aria-hidden="true"></i>Description</label>
                                <input type="text" class="form-control" [(ngModel)]="participantLibraryItemDetails.DisplayName" disabled />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <label class="control-label"><i class="fa fa-map-marker" aria-hidden="true"></i>Iso2Code</label>
                                <input type="text" class="form-control" [(ngModel)]="participantLibraryItemDetails.Iso2Code" disabled />
                            </div>

                            <div class="col-md-4 selectContainer">
                                <label class="control-label"><i class="fa fa-spinner" aria-hidden="true"></i>Iso3Code</label>
                                <input type="text" class="form-control" [(ngModel)]="participantLibraryItemDetails.Iso3Code" disabled />
                            </div>
                            <div class="col-md-4 selectContainer">
                                <label class="control-label"><i class="fa fa-tag" aria-hidden="true"></i>Type</label>
                                <input type="text" class="form-control" [(ngModel)]="participantLibraryItemDetails.TypeKey" disabled />
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="panel panel-info">

                        <div class="panel-heading">Attendes</div>

                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th><i class="fa fa-user" aria-hidden="true"></i>Name</th>
                                    <th><i class="fa fa-linkedin-square" aria-hidden="true"></i>Profession</th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>







